# Salin file ini jadi .env, isi nilai asli, JANGAN commit .env ke git
# Di Docker: hostname = nama service di docker-compose (catalog-db, redis), bukan localhost
PORT=3002
DATABASE_URL=postgres://postgres:postgres@catalog-db:5432/catalog_db
REDIS_URL=redis://redis:6379
