# Salin file ini jadi .env, isi nilai asli, JANGAN commit .env ke git
DATABASE_URL=postgres://postgres:postgres@localhost:5432/order_db
REDIS_URL=redis://localhost:6379
USER_SERVICE_URL=http://localhost:3001
CATALOG_SERVICE_URL=http://localhost:3002
PORT=3003
